*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

.banner {
    width: 100%;
    height: 100%;
    padding: 9rem 3rem;
    margin-bottom: 35px;
    text-align: center;
    background-image: url("assets/graffiti_LSDG.png");
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: soft-light;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

.banner h1 {
    color: #fbfbf9;
}

.contact {
    color: #f1f1f1;
    text-decoration: none;
}

.btn {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: #3d3d3d;
    color: #fbfbf9;
    border-radius: 50px;
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, .3);
}

.nav {
    background: #3d3d3de1;
    height: 90px;
    color: #fff;
    position: sticky;
    top: 0;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
 
.nav__img {
   width: 80px;
   
}

.nav__logo {
    font-size: 1.5em;
    font-weight: 900;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
    
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .8s;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav__input:checked + .nav__menu{
    background-color: #3d3d3de3;
}

.nav__label, .nav__input {
    display: none;
}

/*Main*/

/*Projects Carousel*/

.projects__links {
    display: flex;
    justify-content: center;
}
.projects__dot {
    background-color: #3d3d3d;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 10px;
}

.projects__slides > div {
    width: 100%;
    background-color: #1b1b1b;
    height: 100%;
    border: 5px solid #3d3d3d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.projects__slides {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects__container {
    width: 300px;
    margin: 0 auto 50px;
}

.slide1 {
    max-height: 398px;
    background-size: cover;
    background-image: url("assets/web_design.png");
    color: #070707;
    font-size: 2.2rem;
    font-weight: bolder;
    font-style: italic;
}

.slide2 {
    max-height: 398px;
    background-size: cover;
    background-image: url("assets/programa_web.png");
    color: #f4f1f1;
    font-size: 2.2rem;
    font-weight: bolder;
    font-style: italic;
}

.slide3 {
    max-height: 398px;
    background-size: cover;
    background-image: url("assets/posicionamiento.png");
    color: #070707;
    font-size: 2.2rem;
    font-weight: bolder;
    font-style: italic;
}

/*Progress*/

.progress__team {
    width: auto;
    margin: 10px 5px 40px;
    padding: 100px auto;
    border: 5px solid #3d3d3d;
    border-radius: 3px;
    background-color: #1b1b1b;
    color: #f1f1f1;
    text-align: center;
}

.progress__dades, .progress__skills {
    height: 400px;
    margin: 10px 5px 10px;
    padding: 100px auto;
    border: 5px solid #3d3d3d;
    border-radius: 3px;
    background-color: #1b1b1b;
    color: #f1f1f1;
    text-align: center;
}

.progress__hobbies-title {
    display:none;
}

.progress__hobbies {
    height: 700px;
    margin: 0 5px 10px;
    padding: 100px auto;
    border: 5px solid #3d3d3d;
    border-radius: 3px;
    background-color: #1b1b1b;
    color: #f1f1f1;
    text-align: center;
}

.profile__img, .hobbies__img {
    display: block;
    margin: 10px auto;
    border: 5px solid #3d3d3d;
    border-radius: 5px;
    
}

.hobbies__img {    
    margin: 5px auto 15px;
}

.progress__container-text {
    margin-bottom: 15px;
}

.progress__skills {
    margin: 0 5px 20px;
    list-style: none;
}

.progress__skills li {
    margin: 20px 10px;
}

.skill__bar {
    background-color: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 15px #2187e7b3;
}

.skill__bar span {
    height: 10px;
    float: left;
    background: #2187e7;
}

/*Keyframes*/

.html {
    width: 90%;
    animation: html 4s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    50% {
        width: 25%;
    }

    75% {
        width: 50%;
    }

    100% {
        width: 90%;
    }
}

.css {
    width: 75%;
    animation: css 4s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    50% {
        width: 25%;
    }

    75% {
        width: 50%;
    }

    100% {
        width: 75%;
    }
}

.javascript {
    width: 60%;
    animation: javascript 4s;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    50% {
        width: 25%;
    }

    75% {
        width: 50%;
    }

    100% {
        width: 60%;
    }
}

.node {
    width: 55%;
    animation: node 4s;
}

@keyframes node {
    0% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    50% {
        width: 25%;
    }

    75% {
        width: 50%;
    }

    100% {
        width: 55%;
    }
}

.react {
    width: 65%;
    animation: react 4s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    50% {
        width: 25%;
    }

    75% {
        width: 50%;
    }

    100% {
        width: 65%;
    }
}

.design {
    width: 90%;
    animation: design 4s;
}

@keyframes design {
    0% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    50% {
        width: 25%;
    }

    75% {
        width: 50%;
    }

    100% {
        width: 90%;
    }
}

/*img*/

.img {
    display: block;
    margin: 10px auto;
    border: 5px solid #3d3d3d;
    border-radius: 5px;
    background-color: #f4f1f1;
    text-align: center;
    }

.img__text {
    display: block;
    margin: 5px auto;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}

/*Form*/

.register__title {
    width: auto;
    margin: 30px 5px 20px;
    padding: 100px auto;
    border: 5px solid #3d3d3d;
    border-radius: 3px;
    background-color: #1b1b1b;
    color: #f1f1f1;
    text-align: center;
}


.register {
    text-align: center;
    
}

.register__camp {
    margin-bottom: 10px;
    
}

.register__field {
    margin-inline: 5px;
}

.btn__info {
    width: 16rem;
}

/*Footer*/

.rrss {
    width: 100%;
    height: 50px;
    background: #3d3d3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    
}

.item-rrss::after {
    opacity: 1;
}

.item-rrss:hover {
    opacity: 0.5;
}

.ig, .mail, .face, .whats {
    height: 32px;
    width: 32px;
}

.ig {
    background-image: url("assets/logo_ig.png");
}

.whats {
    background-image: url("assets/logo_whattsap.png");
}

.mail {
    background-image: url("assets/logo_gmail.png");
   
}

.face {
    background-image: url("assets/logo_face.png");
}

/*Queries*/
@media  screen and (min-width: 768px) {
    .banner {
        background-repeat: repeat-x;
    }

    .nav__logo {
        font-size: 2.2em;
        font-weight: 900;
    }
 
}



@media screen and (max-width: 768px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }
    
    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #1b1b1b;
        width: 100%;
        left: 0;
        display:flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);  
        transition: clip-path 1s ease-in-out;
    }

     .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    } 

}

@media screen and (min-width: 768px) {
    .projects__container {
        width: 500px;
        margin: 50px auto 50px;
    }

    .slide1 {
        background-size: auto;
        background-image: url("assets/web_designG.png");
    }

    .slide2 {
        background-size: auto;
        background-image: url("assets/programa_webG.png");
    }

    .slide3 {
        background-size: auto;
        background-image: url("assets/posicionamientoG.png");
    }
}

@media screen and (min-width: 768px) {
    .progress__container {
        display: flex;
        justify-content: center;align-items: center;
    }

    .progress__dades, .progress__skills {
        width: 375px;
        margin: 10px 5px 10px;
    }

    .progress__team {
        width: 760px;
        margin-inline: auto;
    }

    .progress__hobbies-title {
        display: block;
        width: 760px;
        margin: auto;
        padding: 100px auto;
        border: 5px solid #3d3d3d;
        border-radius: 3px;
        background-color: #1b1b1b;
        color: #f1f1f1;
        text-align: center;
    }

    .hobbies__title {
        display: none;
    }

    .progress__hobbies {
        display: flex;
        width: 760px;
        height: 400px;
        margin: 10px auto 10px;
        padding: 100px auto;
        border: 5px solid #3d3d3d;
        border-radius: 3px;
        background-color: #1b1b1b;
        color: #f1f1f1;
        text-align: center;
    }
    
    .profile__img, .hobbies__img {
        display: block;
        margin: 10px auto;
        border: 5px solid #3d3d3d;
        border-radius: 5px;
        
    }
    
    .hobbies__img { 
        width: 300px;
        display: inline;   
        margin: 5px auto 15px;
    }
    
    .swing, .guitar {
        margin: 15px auto;
    }

}